{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
 <p>{{ request.form['title'] or post['title'] }}</p>
 <p>Address: {{ request.form['address'] or post['address'] }}</p>
 <p>Size: {{ request.form['size'] or post['size'] }}</p>
 <p>General description: {{ request.form['body'] or post['body'] }}</p>
 <p>Price: {{ request.form['price'] or post['price'] }} €</p>

 <a href="{{ post['url']}}" target="blank">Buy here!</a>

 <img src="{{ url_for('blog.get_file', filename=post['image']) }}" id="post-img">


{% endblock %}