/*
	MOVILES
*/

@media screen and (max-width: 480px){
	   
	   
	html {
	 font-family: sans-serif;   background: linear-gradient(15deg, #d33f34 50%, #a61322 50.1%); padding: 1rem; 
	}

	body {
	 max-width: 960px; margin: 0 auto; background: #FFF ; 
	}

	h1 {
	 font-family: serif; color: #377ba8; margin: 1rem 0; 
	}

	a {
	 color: #377ba8; 
	}

	hr {
	 border: none; border-top: 1px solid lightgray; 
	}

	nav {
	 background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; 
	}
	nav h1 {
	 flex: auto; margin: 0; 
	}

	nav h1 a {
	  text-decoration: none; padding: 0.25rem 0.5rem; 
	}

	nav ul  {
	 display: flex; list-style: none; margin: 0; padding: 0; 
	}

	nav ul li a, nav ul li span, header .action {
	 display: block; padding: 0.5rem; 
	}

	section header h1  a {
		text-decoration: none;
		margin: auto;
		text-align: center;
	}

/* HOME */
	#container-home {
  		height: 100px;
  		position: relative;
	}
	#center-home {
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}

	#btn-home {
		margin: auto;
		text-align: center;
		text-decoration: none;
		font-size: 40px;
	}

	#home-divpic1 {
		display: flex;
		position: relative;
	}

	#home-image1 {
		display: none;
		height: 250px;
		width: 300px;
	}

	#home-image2 {
		display: flex;
		height: 250px;
		width: 300px;
	}

	#home-image3 {
		display: none;
	}


	/*
		POST
	*/
	#post-img {
		display: flex;
		height: 250px;
		width: 300px;
	}

	.content {
	 padding: 0 1rem 1rem; 
	}

	.content > header {
	 border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; 
	}

	.content > header h1 {
	 flex: auto; margin: 1rem 0 0.25rem 0; 
	}

	.flash {
	 margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; 
	}

	.post > header {
	 display: flex; align-items: flex-end; font-size: 0.85em; 
	}

	.post > header > div:first-of-type {
	 flex: auto; 
	}

	.post > header h1 {
	 font-size: 1.5em; margin-bottom: 0; 
	}

	.post .about {
	 color: slategray; font-style: italic; 
	}

	.post .body {
	 white-space: pre-line; 
	}

	.content:last-child {
	 margin-bottom: 0; 
	}

	.content form {
	 margin: 1em 0; display: flex; flex-direction: column; 
	}

	.content label {
	 font-weight: bold; margin-bottom: 0.5em; 
	}

	.content input, .content textarea {
	 margin-bottom: 1em; 
	}

	.content textarea {
	 min-height: 12em; resize: vertical; 
	}

	input.danger {
	 color: #cc2f2e; 
	}

	input[type=submit] {
	 align-self: start; min-width: 10em; 
	}


}



/*
	ORDENADORES
*/

@media screen and (min-width: 480px) and (max-width: 1800px){
	   
	html {
	 font-family: sans-serif;   background: linear-gradient(15deg, #d33f34 50%, #a61322 50.1%); padding: 1rem; 
	}

	body {
	 max-width: 960px; margin: 0 auto; background: #FFF ;
	}

	h1 {
	 font-family: serif; color: #377ba8; margin: 1rem 0; 
	}

	a {
	 color: #377ba8; 
	}

	hr {
	 border: none; border-top: 1px solid lightgray; 
	}

	nav {
	 background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; 
	}
	nav h1 {
	 flex: auto; margin: 0; 
	}

	nav h1 a {
	  text-decoration: none; padding: 0.25rem 0.5rem; 
	}

	nav ul  {
	 display: flex; list-style: none; margin: 0; padding: 0; 
	}

	nav ul li a, nav ul li span, header .action {
	 display: block; padding: 0.5rem; 
	}

	section header h1  a {
		text-decoration: none;
		margin: auto;
		text-align: center;
	}

	section {
		min-height: 960px;
		height: 100%;
	}

	footer {
		background-color: #FFF;
		height: 100px;
		max-width: 960px;
		position: relative;
		display: flex;

	}

	#container-footer {
		height: 100%;
		width: 100%;
		display: flex;
	}

	#left-box {
		padding-left: 5%;
		text-align: left;
		width: 33%;
	}

	#center-box {
		width: 33%;
		text-align: left;
	}

	#right-box {
		width: 33%;
		text-align: left;
		display: flex;
	}

/* HOME */
	#container-home {
  		height: 100px;
  		position: relative;
	}
	#center-home {
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}

	#btn-home {
		margin: auto;
		text-align: center;
		text-decoration: none;
		font-size: 40px;
	}

	#home-divpic1 {
		display: flex;
		position: relative;
	}

	#home-image1 {
		display: flex;
		height: 33%;
		width: 33%;
	}

	#home-image2 {
		display: flex;
		height: 33%;
		width: 33%;
	}

	#home-image3 {
		display: flex;
		height: 33%;
		width: 33%;
	}

	#footer-logo {
		height: 30%;
		width: 30%;
		display: flex;
	}


	/*
		POST
	*/
	#post-img {
		display: flex;
		height: 250px;
		width: 310px;
	}

	.content {
	 padding: 0 1rem 1rem; 
	}

	.content > header {
	 border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; 
	}

	.content > header h1 {
	 flex: auto; margin: 1rem 0 0.25rem 0; 
	}

	.flash {
	 margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; 
	}

	.post > header {
	 display: flex; align-items: flex-end; font-size: 0.85em; 
	}

	.post > header > div:first-of-type {
	 flex: auto; 
	}

	.post > header h1 {
	 font-size: 1.5em; margin-bottom: 0; 
	}

	.post .about {
	 color: slategray; font-style: italic; 
	}

	.post .body {
	 white-space: pre-line; 
	}

	.content:last-child {
	 margin-bottom: 0; 
	}

	.content form {
	 margin: 1em 0; display: flex; flex-direction: column; 
	}

	.content label {
	 font-weight: bold; margin-bottom: 0.5em; 
	}

	.content input, .content textarea {
	 margin-bottom: 1em; 
	}

	.content textarea {
	 min-height: 12em; resize: vertical; 
	}

	input.danger {
	 color: #cc2f2e; 
	}

	input[type=submit] {
	 align-self: start; min-width: 10em; 
	}

	$( "#target" ).click(function() {
  		alert( "Handler for .click() called." );
	});
}
