{% extends 'base.html' %}

{% block content %}

<body>
  <div class="container" id="container-home">
    <div class="center" id="center-home">
      <button><a class="btn" id="btn-home" href="/index">Compare sneakers</a></button>
    </div>
  </div>


  <div>
    <div class="container" id="home-divpic1">
      <img src="{{ url_for('static', filename="/images/shoe_1.jpg")}}" id="home-image1">
      <img src="{{ url_for('static', filename="/images/shoe_2.jpg")}}" id="home-image2">
      <img src="{{ url_for('static', filename="/images/shoe_3.jpeg")}}" id="home-image3">
    </div>
  </div>
</body>

{% endblock %}