{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Search</button>
    <div id="myDropdown" class="dropdown-content">
        {% for post in posts %}
        <a href="{{ url_for('blog.post', id=post['id']) }}">{{ post['title'] }}</a>  
        {% endfor %}
    </div>
  </div>

  <script type="text/javascript">
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>
{% endblock %}

{% block content %}
  <div>
    {% for post in posts %}
        <article class="post">
          <header>
            <div>
              <h1>
                <a href="{{ url_for('blog.post', id=post['id']) }}">{{ post['title'] }}</a> 
              </h1>
              <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
            </div>
            {% if g.user['id'] == post['author_id'] %}
              <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
            {% endif %}
          </header>
          <h4> Price: {{post['price']}} €, 
            <a href="{{ post['url']}}" target="blank">Buy Here!</a>
          </h4>
          
     
          <img src="{{ url_for('blog.get_file', filename=post['image']) }}" id="post-img">
        </article>
        {% if not loop.last %}
          <hr>
        {% endif %}
      {% endfor %}
  </div>
  
{% endblock %}